.termsRow {
  padding: 3vw 10vw;
}
.termsBg {
  background-color: #f7f7f7;
}
.termsCardBox {
  margin: 10px auto;

  width: 280px;
  height: 230px;
  background-color: #fff;
  text-align: center;
}
.termsCardInfoBox {
  padding: 30px;
  border-top: 13px solid #eb1597;
}
.termsCardTitle {
  color: #eb1597;
  font-size: 0.8rem;
  font-weight: bold;
}
.termsCardText {
  font-size: 0.7rem;
  margin-top: 5px;
}
