/* Deposite Table CSs */

.depositeTableWrapper {
  overflow: scroll;
  margin-top: 10px;
}
.depositeLogoImage {
  width: 80px;
  height: auto;
}
.depositeTable thead th {
  font-size: 0.8rem;
  font-weight: 500;
  vertical-align: middle;
  padding-left: 20px;
  background-color: #d0d0d0;
}
.depositeTable tbody tr {
  font-size: 0.8rem;
  vertical-align: middle;
  color: #000;
}
.depositeOutlineButton {
  background-color: #fff;
  border: 1px solid #eb1597;
  display: inline-block;
  cursor: pointer;
  color: #000;
  font-family: Helvetica;
  font-size: 0.7rem !important;
  font-weight: bold;
  padding: 5px 20px;
  text-decoration: none;
}
.depositeOutlineButton:hover {
  background-color: #eb1597;
  color: #fff;

}
.depositToggle .outerDiv{
  background-color: #fff;
  box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  display: flex;
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
}
.depositToggle .innerDivActive{

  font-size: 1.6rem;
  font-weight: bold;
  padding: 8px 35px;
  background-image: linear-gradient(to right ,#ef3c99,#500d55);
  color: white;
  border-radius: 30px;
  transition: ease-in 0.1s;

}
.depositToggle .innerDiv{
  background-image: none;
  color: #000;
}
.depositTrading{

  background-color: #F4F3F3;
}
.depositTrading .title{
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  color: #000;
}
.depositDivider{
 width:200px;
 background-color: #DCDCDC;

}
.depositeDividerOverlay{
  position: relative;

height: 5px;
width: 60px;
background-color: #eb1597;
margin: 0 auto;
margin-top: -20px;
}
.depositTrading Img{
  width: 300px;
  height: 100%;
}
.depositTrading .text{
  color: #797979;
  font-size: 0.8rem;
  padding: 20px 30px;
}
.depositButton{
  background-image:linear-gradient(to right ,#ef3c99,#500d55) ;
  color: #fff; font-size: 1rem;
  font-weight: bold;
  padding: 7px 20px;
  border-radius: 20px;
  border: none;
}
.depositStepsTitle{
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  color: #000;
}

.depositCard .outerDiv{
  width: 230px;
  min-height: 300px;
  background-color: #F4F3F3;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
.depositCard .outerDiv:hover{
  background-color: #fff;
  box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.25);
}
.depositCard .Img{
  width: 70px;
}
.depositCard .title{
  color: #eb1597;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 20px;
  text-transform: uppercase;

}
.depositCard .text{
  color: #000;
  font-size: 1rem;
}
.depositCardRow{
  padding: 1vw 15vw;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .depositeTableWrapper {
    overflow: hidden;
    margin-top: 10px;
  }
}
