/* About uS Page css */

/* HERO IMAGE SEC */
.heroBg {
  background-image: url("/assets/images/aboutUsBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 430px;
  width: 100%;
  padding-top: 140px;
}
.strategy_manager_bg{
    background-image: url("/assets/images/s_manager2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 500px; */
    width: 100%;
    padding-top: 140px;
}
.heroRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
  text-align: center;
}
.heroTitle {
  font-size: 2rem;
  font-weight: bolder;
}

/* detail sec */

.aboutDetailRow {
  padding: 3vw 10vw;
}
.aboutDetailTitle {
  font-size: 1.4rem;
  font-weight: bold;
}
.aboutDetailText {
  font-size: 0.9rem;
  color: #7a727e;
  font-weight: 500;
}
.aboutBenifitImg {
    width: 100%;
}

/* Client Sec */
.aboutClientRow {
  background-color: #eaeaea;
  padding: 2vw;
  height: 250px;
  text-align: center;
}
.clientSliderDiv {
  padding: 0 5vw;
  width: 100%;
}
.clientSliderContainer {
  margin-top: -150px;
}
.clientCard {
  border: 1px solid #eaeaea;
  width: 230px;
  height: 300px;
  background-color: #fff;
  margin: 0 auto;
  transition: 0.5s ease-out;
  margin-bottom: 20px;
  box-shadow: 5px 7px -7px rgba(0, 0, 0, 0.5);
}
.clientInfoBox {
  padding: 30px 30px;
  height: 100%;
  width: 100%;
}
.clientCircleIcon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #eb1597;
  padding: 2px 3px;
  margin: 0 auto;
}
.clientCardText {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eaeaea;
}
.clientImage {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #000;
  transition: 0.5s ease-out;
}
.clientTitle {
  font-size: 0.7rem;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  transition: 0.5s ease-out;
}
/* .clientImage:hover {
  transform: scale(1.5);
} */
.clientCard:hover {
  height: 330px;
  -webkit-box-shadow: 0px 0px 23px 0px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 0px 23px 0px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 0px 23px 0px rgba(50, 50, 50, 0.4);
}
.clientCard:hover > .clientInfoBox .centerBox .clientImage,
.clientImage:hover {
  height: 70px;
  width: 70px;
}
.clientCard:hover > .clientInfoBox .clientTitle {
  font-size: 1rem;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .heroTitle {
    font-size: 2.4rem;
  }
}
