.ourLocation .mapCard{
    position: relative;
    background-color: #181422d8;

    width: 100%;
    height: 455px;

    padding: 65px 30px;
}
.ourLocation .mapCard .title{
   font-size: 20px;
   font-weight: bolder;
   color: #fff;
   margin-bottom: 20px;
}
.ourLocation .mapCard .text{
    font-size: 15px;
   color: #fff;
   margin-bottom: 20px;
}
.ourLocation .cardFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 0;
}
.ourLocation .locationCard{
    width: 300px;
    height: 210px;
 padding: 20px;
 border-radius: 10px;
  margin-bottom: 20px;
 background-color: rgba(199, 199, 199, 0.2);
}
.ourLocation .locationCard .title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;

}
.ourLocation .locationCard .text{
    font-size: 15px;
    margin-bottom: 5px;


}

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .ourLocation .mapCard{
        position: absolute;

        width: 350px;

        top: 0;
        left: 250px;

    }


  }
